/*About Smriti Page CSS*/

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
}

.about_sm_div {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    flex-wrap: wrap;
}

.about_sm_image {
    width: 570px;
    display: inline-block;
}

.about_sm_image img {
    width: 100%;
    border-radius: 10px;
}

.about_sm_description {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.hobbies_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 30px;
}

.hobbies_container h1 {
    width: 100%;
    text-align: center;
}

.hobbies img {
    width: 250px;
    border-radius: 10px;
}

.hobbies {
    display: flex;
    align-items: center;
    flex: 1 1 200px;
    flex-direction: column;
    margin: 30px;
    padding: 50px 25px;
    border: 2 px solid #e3e3e3;
    border-radius: 15px;
    box-shadow: 5px 3px burlywood;
}

#hobbies_description {
    text-align: center;
}

#contact_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: burlywood;
}

#contact_description {
    flex: 3 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#contact_description div img {
    width: 40px;
    padding: 5px;
}

.mobile {
    display: none;
}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:760px) {
    .about_sm_description {
        width: 100%;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}
